@font-face {
    font-family: PT sans;
    src: url("../fonts/PTS55F.ttf");
}
@font-face {
    font-family: PTSansBold;
    src: url("../fonts/PTS75F.ttf");
}
@font-face {
    font-family: Open Sans Condensed;
    src: url("../fonts/OpenSans-CondLight.ttf");
}
@font-face {
    font-family: OpenSansCondensedBold;
    src: url("../fonts/OpenSans-CondBold.ttf");
}


/* ============================================ *
 * HEADER STYLES
 * ============================================ */

.page-header-top{
    background: #000;
}
/* == Top-Store == */
div.top-store {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
div.top-store > p {
    font-family: "PT sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 35px;
    letter-spacing: 2px;
    display: inline-block;
}
div.top-store a {
    color: #fff;
}

/* == Top-Nav == */
div.top-store ul.top-nav {
    position: absolute;
    top: -1px;
    right: 150px;
    float: right;
}
div.top-store ul.top-nav li {
    float: left;
    margin: 7px;
}
div.top-store ul.top-nav li a {
    font-family: "PTSansBold",Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
}
div.top-store ul.top-nav li a i{
    font-size: 17px;
    line-height: 13px;
}

/* == Account Cart == */
.account-cart-wrapper .skip-account {
    padding: 0px;
}

.skip-links .account-cart-wrapper span {
    font-family: "PTSansBold", Arial, sans-serif;
    font-size: 10px;
    line-height: 1.6em;
    letter-spacing: 1px;
}
.page-header-container #header-account.skip-active {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: #fff;
}
.account-cart-wrapper .header-minicart .label {
    padding: 0px;
    font-family: "PTSansBold", Arial, sans-serif;
    font-size: 10px;
    line-height: 1.6em;
    letter-spacing: 1px;
}
.header-minicart #header-cart.skip-active {
    border: none;
    top: 35px;
}
.account-cart-wrapper .header-minicart .minicart-wrapper {
    text-align: center;
    min-height: 150px;
    text-transform: none;
}
.header-minicart .minicart-wrapper .empty {
    color: #555;
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height:0.5em;
    padding: 10px 15px;
}
.header-minicart .minicart-wrapper {
    padding-bottom: 30px;
}
.header-minicart #header-cart .block-subtitle .close {
    width: 80px;
    bottom: 15px;
    right: 125px;
    top: initial;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 10px;
    color: #000;
    opacity: 1;
}
.header-minicart #header-cart i {
    margin-right: 5px;
}
.header-minicart #header-cart .block-subtitle .close:hover {
    text-decoration: underline;
}
.header-minicart .block-subtitle .close a {
    display: inline;
    color: #000;
}
.header-minicart .minicart-wrapper .empty > div {
    margin: 20px auto;
}

.header-minicart .minicart-wrapper .button {
    background-color: #999;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}
.header-minicart .minicart-wrapper .minicart-actions .cart-link {
    height: inherit;
    line-height: inherit;
}
.header-minicart .minicart-wrapper .minicart-actions .checkout-button {
    background: #000;
}
.header-minicart .minicart-wrapper .minicart-actions {
    padding: 10px 15px;
}
.minicart-wrapper .mini-products-list .product-image {
    float: right;
}
.mini-products-list .product-image img {
    width: 100px;
    height: 100px;
}
.minicart-wrapper .mini-products-list .product-details {
    margin: 0 110px 0 0;
    text-align: left;
}

.account-cart-wrapper .header-minicart .product-details .product-name a {
    color: #000;
}
.mini-products-list .product-details .product-name:hover {
    text-decoration: underline;
}
.account-cart-wrapper .header-minicart .info-wrapper th {
    display: none;
}
.account-cart-wrapper .header-minicart .info-wrapper tr {
    float: right;
    background: lightsalmon;
}
.header-minicart .info-wrapper tr .input-text {
    border: none;
    font-size: 12px;
    background: lightgreen;
}

    /* == Skip-Link == */

div.account-cart-wrapper a:focus,
div.account-cart-wrapper a:focus,
div.account-cart-wrapper a:hover {
    color: #fff;
}
.logo h1 a{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 33px;
    line-height: 33px;
    color: #222;
    font-weight: bold;
}
.logo h1 a:hover {
    text-decoration: none;
}
.skip-content {
    position: absolute;
    top: 0px;
    right: 50px;
    padding: 3px 0 3px 0;
}

/* == Style #header-nav == */
.page-header-container .skip-content .nav-primary li:hover a {
    color: #333;
    opacity: 0.9;
}
.page-header-container .skip-content .nav-primary li ul {
    background: #f2f2f2;
    border: none;
    padding: 25px 15px 15px 15px;
    width: 180px;
}
.page-header-container .skip-content .nav-primary li ul li {
    padding: 10px;
}
.page-header-container .skip-content .nav-primary li ul li a {
    border: none;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    color: #333;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
}
.page-header-container .skip-content .nav-primary li ul li:hover a{
    text-decoration: underline;
}
.header-minicart:hover .page-header-container .skip-content .nav-primary li ul {
    display: block;
}

/* == Style Search == */
.mysearch-header {
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent url('../images/search-icon.png') no-repeat center center;
    background-size: 14px 14px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    width: 49px;
    height: 55px;
    cursor: pointer;
}
.page-header-container #header-search {
    display: none;
    padding: 0;
    position: fixed;
    top: 89px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,.85);
}
.page-header-container #header-search form {
    width: 40%;
    position: relative;
    top: 50px;
    margin: 0 auto;
}
.page-header-container #header-search .input-text {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}
.page-header-container #header-search .input-text:focus {
    border: none;
    border-bottom: 1px solid #fff;
}
#header-search .input-box button {
    top: -10px;
    right: -70px;
    width: 50px;
}
#header-search #search_mini_form .search-button:before {
    background: none;
}
#header-search #search_mini_form .search-autocomplete:before {
    border-bottom: none;
}


/* ============================================ *
 * FOOTER STYLES
 * ============================================ */

/*== Style .footer-title-content ==*/
.footer-container .footer .footer-title-content {
    background: #f2f2f2;
    padding: 40px 0px;
}
.content-inside {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.footer .footer-title-content .content-inside p {
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
}

/* == Style Subscribe == */
.footer-container .footer .block-subscribe {
    position: absolute;
    top: 57px;
    right: 190px;
    z-index: 1;
}
.footer-container .footer .block-title strong {
    display: none;
}
.footer .block-subscribe .input-text {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 11px;
    line-height: 49px;
    color: #999;
    height: 49px;
    text-transform: uppercase;
}
.footer .block .block-subscribe .span {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
.block-subscribe .block-content .actions .button {
    background: #000;
}

/*== Style.footer-title ==*/
.footer .text-footer-left {
    text-transform: uppercase;
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #000;
}

/*== Style.footer-menu ==*/
.footer-container .footer .footer-menu {
    background: #000;
    overflow: hidden;
    margin-bottom: 41px;
}
.footer .footer-menu ul {
    text-align: center;
}
.footer .footer-menu ul li {
    display: inline-block;
    padding: 4px 0px;
}
.footer .footer-menu ul li a {
    height: 19px;
    font-family: "PT sans", Arial, sans-serif;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    padding: 5px 9px;
    text-transform: uppercase;
    text-align: center;
}

/*== Style .footer-widgets ==*/
.footer-container .footer .footer-widget {
    width: 1200px;
    margin: 0 auto;
}
.footer .footer-widget .footer-widget-1 {
    position: relative;
    display: inline-block;
}
.footer-widget .footer-widget-1 img {
    width: 369px;
    height: 262px;
}
.footer-widget .footer-widget-1 .overlay {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.footer-widget-1 .overlay h4{
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin-bottom: 2px;
}
.footer-widget-1 .overlay p {
    font-family: "PT sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}
.footer .footer-widget h3 {
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}
.footer .footer-widget .textwidget {
    position: relative;
}
.footer-widget-2 .textwidget p{
    font-family: "PT sans", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    margin-bottom: 15px;
}
.footer-widget .footer-widget-3 h3 {
    text-align: right;
}
.footer-widget-3 .textwidget .row .col-sm-3 {
    padding: 15px;
}
.footer-widget-3 .textwidget a img{
    width: 100%;
    height: 55px;
    display: inline-block;
    vertical-align: middle;
}
.footer-container .footer .footer-payment {
    width: 100%;
    margin: 28px 0;
    text-align: center;
}
.footer-container .footer .footer-payment img {
    margin: 0 auto;
    padding: 0 5px;
    width: 127px;
    height: 20px;
}

/*== Style copyright ==*/
.footer-container .footer address {
    margin: 0px;
    padding: 0px 0px 28px 0px;
    color: #999;
}

/* ============================================ *
 * MAIN STYLES
 * ============================================ */

/*== Style .slideshow ==*/
.main .col-main .std {
    position: relative;
}
.main .std .slideshow {
    margin: 0 auto;
}
.main .std .slideshow .fotorama__nav-wrap {
    display: none;
}
.main .std .slideshow .fotorama__arr {
    background: none;
}
.main .std .slideshow .fotorama__arr--prev {
    left: 25px;
    background: url("../images/left.png") no-repeat;
}
.main .std .slideshow .fotorama__arr--next {
    background: url("../images/right.png") no-repeat;
}

/*== #Home banner info - CMS Static Block ==*/
.main .std .banner-info {
    display: inline-block;
    max-width: 400px;
    position: absolute;
    top: 150px;
    left: 200px ;
    z-index: 2;
    text-align: center;
}
.std .banner-info h4, .std .banner-info h3 {
    font-family: "OpenSansCondensedBold", Arial,sans-serif;
    color: #fff;
    font-weight: 800;
}
.std .banner-info h4 {
    font-size: 26px;
    line-height: 26px;
}
.std .banner-info h3 {
    font-size: 48px;
    line-height: 48px;
    margin: 9px 0 29px 0;
}
.std .banner-info p {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 32px;
}
.std .banner-info a.button{
    text-decoration: none;
    background: #fff;
    color: #000;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 13px;
    line-height: 21px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.std .banner-info a.button:hover {
    background: #000;
    color: #fff;
}

/*== #Home shopping reasons - CMS Static Block ==*/
.shopping-reasons {
    background: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    margin-top: 3px;
}
.std .shopping-reasons p {
    display: inline;
    text-transform: uppercase;
    font-family: "PT sans", Arial, sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    margin: 0 7px;
}

/*== #Home News product - CMS Static Block  ==*/
.col-main .std .new-products {
    margin: 10px auto;
    text-align: center;
    height: 330px;
}
.new-products  .widget-title h2{
    text-align: center;
    font-family: "OpenSansCondensedBold",Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin: 60px 0 40px 0;
}
.new-products .widget-products a {
    border: none;
    margin: 0px;
}
.new-products .widget-products ul {
    list-style: none;
    width: 1200px;
    margin: 0 auto;
}
.new-products .widget-products ul li {
    margin: 0px;
}
.new-products .widget-products div.product-info {
    padding-bottom: 0px;
    width: 100%;
    padding-top: 50px;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in;
       -moz-transition: all 0.7s ease-in;
         -o-transition: all 0.7s ease-in;
}
.new-products .widget-products ul li:hover div.product-info {
    opacity: 1;
    padding-top: 0px;
}

/*== #Home Feature Holder - CMS Static Block ==*/
.feature-holder {
    overflow: hidden;
}
.feature-holder .row {
    margin: 0px;
}
.feature-holder .row .col-md-4 {
    padding: 0px;
}
.feature-holder .row .col-md-4 img{
    width: 525px;
}
.feature-holder .content-feature-holder {
    text-align: center;
    width: 100%;
    color: #000;
    padding: 3.5em 0;
    margin-bottom: 1.5%;
}
.feature-holder .content-feature-holder a {
    text-decoration: none;
}
.feature-holder .content-feature-holder a p {
    text-transform: uppercase;
    font-family: "PTSansBold", Arial, sans-serif;
    font-size: 11px;
    line-height: 1.6em;
    letter-spacing: 1px;
    color: #0a0a0a;
    padding: 0 20px;
    margin: 0px;
}
.feature-holder .content-feature-holder a h3 {
    height: 120px;
    text-transform: uppercase;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 32px;
    line-height: 1.2em;
    color: #0a0a0a;
    padding: 0 20px;
    -webkit-transition: font-size 2s ease-in;
       -moz-transition: font-size 2s ease-in;
        -ms-transition: font-size 2s ease-in;
         -o-transition: font-size 2s ease-in;
            transition: font-size 2s ease-in;
}

/* == Image transition zoom == */
.mg-image {
    width: 525px;
    overflow: hidden;
}
.mg-image img {
    -webkit-transition: all 2s ease-in; /* Safari and Chrome */
       -moz-transition: all 2s ease-in; /* Firefox */
         -o-transition: all 2s ease-in; /* Opera */
        -ms-transition: all 2s ease-in; /* IE 9 */
            transition: all 2s ease-in;
    max-width: 100%;
}
.mg-image:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
       -moz-transform:scale(1.1); /* Firefox */
        -ms-transform:scale(1.1); /* Opera */
         -o-transform:scale(1.1); /* IE 9 */
            transform:scale(1.1);
}

.col-md-4:hover .content-feature-holder a h3 {
    font-size: 38px;
    -webkit-transition: font-size 5s ease-in;
       -moz-transition: font-size 5s ease-in;
        -ms-transition: font-size 5s ease-in;
         -o-transition: font-size 5s ease-in;
            transition: font-size 5s ease-in;
}